{% extends 'residents/base.html' %}

{% block content %}
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
<!-- User's own Start -->
      <div class="col-sm-12 col-xl-6">
        <div class="bg-light rounded h-100 p-4">
           <h6 class="mb-4">{{ object.username.upper }}</h6>
           <hr>
           <dl class="row mb-0">
               <dt class="col-sm-4">First name:</dt>
               <dd class="col-sm-8">{{ object.first_name }}</dd>

               <dt class="col-sm-4">Last name:</dt>
               <dd class="col-sm-8">{{ object.last_name }}</dd>

               <dt class="col-sm-4">Birth date:</dt>
               <dd class="col-sm-8">{{ object.birth_date }}</dd>

               <dt class="col-sm-4">Created_date</dt>
               <dd class="col-sm-8">{{ object.email }}</dd>

{% if object.is_personnel %}
               <dt class="col-sm-4 text-truncate">My company:</dt>
               <dd class="col-sm-8"></dd>
{% endif %}

               <dt class="col-sm-4">Registered:</dt>
               <dd class="col-sm-8">
                   <dl class="row">
                       <!-- <dt class="col-sm-4"></dt> -->
                       <dd class="col-sm-8">{{ object.date_joined }}</dd>
                   </dl>
               </dd>
           </dl>
           <button class="btn btn-outline-primary w-100 m-2" type="button">Edit</button>
       </div>
    </div>
  </div>
</div>
<!-- User's own End -->
{% endblock %}
